{% extends "BlogInicioBundle:Templates:template.html.twig" %}

{% block title 'Nuevo Post' %}

{% block navbar %}
    <div class="row">
    </div>
{% endblock %}

{% block notificacion %}

{% endblock %}

{% block contenido %}

    <form action= "{{ path('create') }}" method="post" id="postForm" >

    {{ form(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.titulo) }}
    {{ form_row(form.tema) }}
    {{ form_row(form.contenido) }}
    {{ form_row(form.respuesta) }}
    {{ form_row(form.votos) }}
        {{ form_row(form.nro_post) }}
    </form>

    <button type="button" id="propalert">prop alert</button>
    <button type="button" id="mensaje" >cambiar color</button>
    <button type="button" id="visible" >crear post</button>
    <p class="hola">hola mundo</p>

{% endblock %}