{% extends "BlogInicioBundle:Templates:template.html.twig" %}

{% block title 'Nuevo Post' %}

{% block navbar %}
    <div class="row">
    </div>
{% endblock %}

{% block contenido %}

    <form action= "{{ path('create') }}" >
    {{ form_start(form) }}
    {{ form(form) }}
    {{ mesage }}
    {{ form_errors(form) }}

    {{ form_row(form.titulo) }}
    {{ form_row(form.tema) }}
    {{ form_row(form.contenido) }}
    {{ form_row(form.respuesta) }}
    {{ form_widget(form.guardar) }}

    {{ form_end(form) }}

    <input type="submit" value="guardar" />

    </form>

{% endblock %}