{% extends "BlogInicioBundle:Templates:template.html.twig" %}

{% block title 'Nuevo Post' %}

{% block navbar %}
    <div class="row">
    </div>
{% endblock %}

{% if mensaje is empty %}
    {% block notificacion %} {{ mensaje }} {% endblock %}
{% endif %}

{% block contenido %}

    <form action= "{{ path('create') }}" method="post" >

    {{ form(form) }}

    {{ form_errors(form) }}

    {{ form_row(form.titulo) }}
    {{ form_row(form.tema) }}
    {{ form_row(form.contenido) }}
    {{ form_row(form.respuesta) }}

    </form>


{% endblock %}